name: Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '.pre-commit-config.yaml'

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write # for googleapis/release-please-action to create release commit
      issues: write # for googleapis/release-please-action to create labels
      pull-requests: write # for googleapis/release-please-action to create release PR
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.CI_GITHUB_APP_ID }}
          private-key: ${{ secrets.CI_GITHUB_APP_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
          target-branch: main
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      release_tag_name: ${{ steps.release.outputs.tag_name }}

  release:
    if: ${{ needs.release-please.outputs.release_created }}
    needs: release-please
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing to pypi
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
      - name: Install dependencies
        run: uv sync --frozen --no-dev
      - name: Build Python package
        run: uv build
      - name: Publish Release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
